extends layout

block content
  h1 #{title}
  p HTML,CSS,Javascript makes a vital contribution in making web applications.
  p this make the user interface very attractive .
  button(type="button" class="btn btn-success") Press Me
